:root {
  --cor-roxa: #8873ef;
  --cor-preta: #18171c;
  --cor-cinza: #464549;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--cor-preta);
}

/* TITLES  */
.title {
  font-weight: bold;
}

h1.title {
  font-size: 62px;
  line-height: 5rem;
}

h2.title {
  font-size: 42px;
  line-height: 4rem;
}

h3.title {
  font-size: 36px;
  line-height: 3rem;
}

h4.title {
  font-size: 24px;
  line-height: 2rem;
}

h5.title {
  font-size: 18px;
  line-height: 2rem;
}

h6.title {
  font-size: 12px;
  line-height: 1rem;
}

.texto {
  font-size: 16px;
  line-height: 1.3rem;
  color: var(--cor-cinza);
}

/* BUTTONS  */
.btn-primary {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-roxa);
  color: white;
  border-radius: 16px;
  padding: 20px;
  font-weight: 600;
}
.btn-outline {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #18171c;
  border-radius: 16px;
  padding: 20px;
  font-weight: 600;
}

/* HEADER  */
.logo {
  display: flex;
  align-items: center;
}

.logo figcaption {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.8rem;
  margin-left: 8px;
}

.nav .nav-link {
  margin-right: 12px;
}
.nav-link {
  text-decoration: none;
  color: var(--cor-preta);
  font-family: "Montserrat", sans-serif;
}
